---
import ButtonPill from "./ButtonPill.astro"

interface Props{
   title: string
   p1: string
   italic: string
   p2: string
   semibold: string
   p3: string
   p4: string
}

const { title, p1, italic, p2, semibold, p3, p4 } = Astro.props
---

<section id="about" class="h-3/4">
   <div class="about-box text-center items-center flex flex-col justify-center sm:flex-row w-auto m-auto h-auto gap-10 mb-40 sm:text-left"> 
   <article class="w-4/6">
    <h3 class="sm:text-5xl text-2xl mb-5 font-semibold">{title}<span class="text-yellow-500">?</span></h3>
      <p class="sm:text-xl text-base text-pretty">{p1}<span class="italic">{italic}</span>{p2}<span class="italic font-semibold">{semibold}</span>{p3}</p>
      <p class="sm:text-xl text-base text-pretty">
         {p4}<span class="text-yellow-500">...</span>
      </p>
      <div class="flex justify-center">
      <ButtonPill
       classProps="bg-green-700"
       href="https://www.linkedin.com/in/eduardo-arede-658677221/"
      >
      #Open to work
      </ButtonPill>
     </div>
   </article>
     <div>
        
        <img class="rounded-full size-40 md:size-60 sm:size-100" src="https://avatars.githubusercontent.com/u/82120092?v=4" alt="Eduado Arede image" title="Eduardo Arede">
     </div>
    </div>
</section>

