---
import type { Code, Debug } from "astro:components"
import ExperienceItem from "./ExperienceItem.astro"

interface Props {
    date: string
    sub1: string
    desc1: string
    sub2: string
    desc2: string
}

const { date, sub1, desc1, sub2, desc2} = Astro.props

const EXPERIENCE = [
{
    date: 'Oct 2023 - Nov 2023',
    title: `${sub1}`,
    description: `${desc1}`,
   
},
{
    date: `${date}`,
    title: `${sub2}`,
    description: `${desc2}`,
},


]
---
<!--Componente extraido de FlowBite-->
<!--Enviamos por *props* todos los elementos del ARRAY de objetos-->
<ol class="relative border-s border-gray-200 ml-3"> 
    {
        EXPERIENCE.map(exp => (
        <li class="mb-10 ms-4">
              <ExperienceItem {...exp}/> 
        </li>
        ))
    }                 
    
</ol>

