---
import NavbarMovile from "./NavbarMovile.astro"
import Navbar from "./Navbar.astro"
import ButtonPill from "./ButtonPill.astro"

interface Props{
   welcome: string
   name: string
   hdescription: string
   location: string

   home: string
   about: string
   experience: string
   projects: string
   contact: string
}

const { welcome, name, hdescription, location, home, about, experience, projects, contact } = Astro.props
---
<header>
 <NavbarMovile
 home={home}
 about={about}
 experience={experience}
 projects={projects}
 contact={contact}
 />
 <Navbar
  home={home}
  about={about}
  experience={experience}
  projects={projects}
  contact={contact}
 />
 <div class="flex flex-col items-center justify-center mt-20">
 
  <div class="text-left">
  <h1
    class="text-gray-200 text-2xl font-bold flex justify-center flex-col gap-x-4 pb-6 lg:pb-10"
  >
  <div class="flex flex-row">
    {welcome}<span class="text-yellow-500">!</span>
  </div> 
    <span class="text-6xl">
      {name}<span class="text-yellow-500">.</span></span>
  </h1>
  
  </div>
  <h3 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
    {hdescription}<span class="text-yellow-500">.</span>
  </h3>
  <p>{location}<span class="text-yellow-500">.</span></p>
  <ButtonPill classProps="" href="https://www.linkedin.com/in/eduardo-arede-658677221/">#Open to work</ButtonPill>
  
  </div> 

</div>

</header>