---
// Importamos el icono, pero esta vez *NO* como componente
import Vite from "./icons/Vite.astro"
import TailwindCSS from "./icons/TailwindCSS.astro"
import React from "./icons/React.astro"

import MuiMaterial from "./icons/MuiMaterial.astro"
import SocialPill from "./SocialPill.astro"
import GitHub from "./icons/GitHub.astro"
import Link from "./icons/Link.astro"

const TAGS = {
    VITE: {
        name: "Vite",
        class: "bg-white text-black",
        icon: Vite     
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-white text-black",
        icon: TailwindCSS
    },
    REACT: {
        name: "React",
        class: "bg-white text-black",
        icon: React
    },
    MUIMATERIAL: {
        name: "Material UI",
        class: "bg-white text-black",
        icon: MuiMaterial
    }
    
}

const PROJECTS = [
    {
        title: 'Epikka | Analytics & Marketing',
        description: 'We provide the best Marketing and Analytics strategies for digital businesses.',
        link: 'https://epikka-new.vercel.app',
        github: 'https://github.com/RadamantiumX/epikka-new',
        image: 'https://i.ibb.co/gzVh50t/epikka.webp',
        tags: [TAGS.VITE, TAGS.TAILWIND, TAGS.REACT]
    },
    {
        title: 'Microplastic detection | Application for Researchers',
        description: 'Based on machine learning and combining its own algorithms that allow manual or automatic analysis of its spectral data to identify, count and measure microplastics.',
        link: 'https://react-particle-count.vercel.app',
        github: 'https://github.com/RadamantiumX/react-particle-count',
        image: 'https://i.ibb.co/wKty2TQ/microplastic.webp',
        tags: [TAGS.VITE, TAGS.TAILWIND, TAGS.REACT]
    },
    {
        title: 'M.A.L.M.V | Educational website',
        description: 'It is a sustainability project that aims to help in the diagnosis of water quality.',
        link: 'https://pruebas.msthompson.edu.ar/',
        github: 'https://github.com/RadamantiumX/react-particle-count',
        image: 'https://i.ibb.co/GnY7sK5/agua-mejor-vida.webp',
        tags: [TAGS.VITE, TAGS.MUIMATERIAL, TAGS.REACT]
    },
    {
        title: 'EpsiWeb | Website Development',
        description: 'The best user experience, on any device and optimized.',
        link: 'https://epsi-web.vercel.app/',
        github: 'https://github.com/RadamantiumX/EpsiWeb',
        image: 'https://i.ibb.co/YhDTYKZ/527shots-so.webp',
        tags: [TAGS.VITE, TAGS.MUIMATERIAL, TAGS.REACT]
    },

]
---

{
    PROJECTS.map(({ title, description, tags, image, link, github }) => (
        <article class="mt-10">
           <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
           <p class="text-lg mb-4 text-pretty">{description}</p>
           
           <ul class="flex gap-x-2 flex-row mb-2">
             {
                tags.map(tag => (
                    <li>
                     <span class={`flex bg-yellow-500 gap-x-4 rounded-full text-xs ${tag.class} py-1 px-2`}>
                       <tag.icon class="size-4"/>
                       {tag.name} 
                     </span>     
                    </li>
                   
                ))
             }
            </ul>
            <div class="flex flex-row gap-8">
            <img class="rounded shadow-xl shadow-indigo-900 h-1/2 w-1/2" src={image} alt={`Project screenshot ${title}`}/>
            <div class="flex flex-col justify-center gap-y-8">
            <SocialPill classProps="h-10 w-full" href={link}>
             Link <Link class="size-5"/>
            </SocialPill>
            <SocialPill classProps="h-10 w-full" href={github}>
             Help me with stars 😉 ⭐ <GitHub class="size-5"/>
            </SocialPill>
            </div>
            </div>
            
        </article>
    ))
}