---
import HTML from "./icons/HTML.astro"
import CSS from "./icons/CSS.astro"
import JS from "./icons/JS.astro"
import PHP from "./icons/PHP.astro"
import Python from "./icons/Python.astro"
import Java from "./icons/Java.astro"
import Bash from "./icons/Bash.astro"
import Node from "./icons/Node.astro"
import Ubuntu from "./icons/Ubuntu.astro"
import Docker from "./icons/Docker.astro"
import Laravel from "./icons/Laravel.astro"
import Vite from "./icons/Vite.astro"
import Next from "./icons/Next.astro"
import AstroIcon from "./icons/AstroIcon.astro"
import React from "./icons/React.astro"
import Git from "./icons/Git.astro"
import TailwindCSS from "./icons/TailwindCSS.astro"
import Vue from "./icons/Vue.astro"
import Mysql from "./icons/Mysql.astro"
import Mongo from "./icons/Mongo.astro"

interface Props {
    title: string
    p1: string
    p2: string
}

const { title, p1, p2 } = Astro.props

const SKILLS = [
    {
        tag: "HTML",
        fill: 90,
        icon: HTML
    },
    {
        tag: "CSS",
        fill: 90,
        icon: CSS
    },
    {
        tag: "JS",
        fill: 95,
        icon: JS
    },
    {
        tag: "PHP",
        fill: 90,
        icon: PHP
    },
    {
        tag: "Python",
        fill: 60,
        icon: Python
    },
    {
        tag: "Java",
        fill: 30,
        icon: Java
    },
    {
        tag: "Bash",
        fill: 30,
        icon: Bash
    },
    {
        tag: "Node",
        fill: 90,
        icon: Node
    },
    {
        tag: "Ubuntu",
        fill: 40,
        icon: Ubuntu
    },
    {
        tag: "Docker",
        fill: 40,
        icon: Docker
    },
    {
        tag: "Laravel",
        fill: 80,
        icon: Laravel
    },
    {
        tag: "Vite",
        fill: 90,
        icon: Vite
    },
    {
        tag: "NextJS",
        fill: 50,
        icon: Next
    },
    {
        tag: "Astro",
        fill: 80,
        icon: AstroIcon
    },
    {
        tag: "React",
        fill: 90,
        icon: React
    },
    {
        tag: "Vue",
        fill: 30,
        icon: Vue
    },
    {
        tag: "Git",
        fill: 70,
        icon: Git
    },
    {
        tag: "TailWindCSS*",
        fill: 50,
        icon: TailwindCSS
    },
    {
        tag: "Mongo",
        fill: 30,
        icon: Mongo
    },
    {
        tag: "MySQL*",
        fill: 70,
        icon: Mysql
    },
]
---
<article class="w-4/6 mb-20">
    <h3 class="sm:text-5xl text-2xl mb-10 font-semibold text-left">{title}<span class="text-yellow-500">._</span></h3>
    <div class="flex flex-row justify-evenly gap-x-1 gap-y-2 items-center flex-wrap ">
      {SKILLS.map((skill) =>(
        <div class="flex flex-col items-center">
           <p>{skill.tag} | <span class="text-yellow-500">{skill.fill}%</span> </p>  
           <div style={`background-size:${skill.fill}%`} class="card-skill border rounded-full py-2 px-8">
             <skill.icon class="size-8"/>
           </div>
         </div>
      ))} 
    </div>
    <p class="mt-8 italic text-gray-500">* {p1}</p>
    <p class="mt-2 italic text-gray-500">* {p2}</p>
</article>


